<html>
	<head>
		<title>Project1 Homepage</title>
	</head>
    <body>
        <div class="jumbotron text-center">
  <h1>CS 4501 Project 1 Homepage</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Sign In/Create an Account</h3>
      <p>Sign In/Create an Account</p>
    </div>
    <div class="col-sm-4">
      <h3>About</h3>
      <p>CS4501 Internet Scale Applications</p>
    </div>
    <div class="col-sm-4">
      <h3>Contact</h3> 
      <p>Office Hours</p>
    </div>
  </div>
</div>
    </body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>